.header{
    background-color: #1F2937;
    margin-top:0;
    padding: 5px; 
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 100;
}
.links{
    margin-right: 160px;
    margin-left: auto;
    display: flex;
    gap: 16px;
    list-style-type: none;
}
.logo{
    margin-left: 160px;
    margin-right: auto;
    display: flex;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F9FAF8;
    text-decoration: none;
    list-style-type: none; 
}
ul{display: flex;}

body{margin: 0cm;
flex:auto;}

.section1{
    background-color: #1F2937;
    display: flex;
    flex:1;
    padding-left: 210px;
    padding-bottom: 4em;
    
}
h1{
    font-family:  Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color:#F9FAF8;
}
.left{
    flex-wrap: nowrap;
    width: 35%;
    padding-right: 10rem;
}
.right{
    background-color: #e5e7eb4e;
    margin-bottom: 60px;
    margin-top: 50px;
    padding-bottom: 30px;
    width:450px;
    height:150px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    margin-left: auto;
    margin-right: 210px;
    
}
h5{
    font-size: 18px;
    color: #e5e7ebca;
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin-top: 60px;
    
}
.left h5{margin-top: -20px;
    }

.button1{
    padding: 0.4em 1.8em;
    background-color: #3882F6;
    border: 0;
    border-radius: 0.5em;
    color: #E5E7EB;
    font-weight: 600;
}
.img{
    display:flex;
    max-width: 9cm;
    gap:3em;
    justify-content: space-between;
    margin:auto;
    margin-right: 50%;
}
.one{
    border: 3.5px solid #3882F6;
    background-color: #ffffff;
    height: 8em;
    width: 8em;
    border-radius: 0.5em; 
    
}
.text{
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.66);
    font-family: 'arial narrow', sans-serif;
}

.section2{
    text-align: center;
    margin-bottom: 7em;
}
h2{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 36px;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    color: #1F2937;
}
.section3{
    background-color: #E5E7EB;
    padding-bottom: 3em;
}
blockquote{
    font-size:36px;
    font-style: italic;
    color: #1F2937;
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3em;
}
.autor{
    font-size: 24px;
    font-family: Arial, sans-serif;
    color:#1F2937;
    font-weight: bolder;
    margin-left: 60%;
    margin-top: -30px;
}
.container{
    background-color: #3882F6;
    border: 0;
    border-radius: 0.5em;
    width:50em;
    padding: 1.8em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 6em;
    margin-bottom: 6em;
   
}
.drugi{
    font-size: 24px;
    color:white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: -0.4em;
}
.treci{
    font-size: 18px;
    color: white;
    font-family: Arial, sans-serif;
}
.button2{
    padding: 0.4em 1.8em;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 0.5em;
    color: #E5E7EB;
    font-size: 1.2em;
    font-weight: 600;
}
.footer{
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding:1.2em;
}